#box {
  color: green; 
  animation: bounce 1s infinite;
}

#Xbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }}
 #ps {
    color: blue; 
    animation: bounce 1s infinite;
  }
  
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-40px);
    }
    60% {
      transform: translateY(-20px);
    }}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#about{
padding: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}


h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff; 
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #007bff;
  color: white;
}


#home {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  
}

#gamelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 10px;
}


#gamelist li {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: black;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

#gamelist li:hover {
  transform: translateY(-5px);
}

.thumb {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
}

.title {
  font-size: 18px;
  margin: 10px 0;
}

.dealRating {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.releaseDate{
  margin-bottom: 5px;
}
.internalName{
  margin-bottom: 5px;
}
.salePrice {
  margin-bottom: 5px;
}

.purchase {
  background-color:blue;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 15px;
}
#delete{
  background-color:blue;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

#delete:hover{
  background-color: red;
  animation: bounce 0.5s infinite alternate
}

.purchase:hover {
  background-color: greenyellow;
  animation: bounce 0.5s infinite alternate
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}