* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}


h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff; 
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #007bff;
  color: white;
}


#home {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  
}

#gamelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}


#gamelist li {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

#gamelist li:hover {
  transform: translateY(-5px);
}

.thumb {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
}

.title {
  font-size: 18px;
  margin: 10px 0;
}

.dealRating {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.releaseDate,
.internalName,
.salePrice {
  margin-bottom: 5px;
}

.purchase {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.purchase:hover {
  background-color: #5abe5f;
}
